/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

* {
  margin: 0px;
  padding: 0px;
}

html{
  height:100%;
}

body {
  height: 100%;
  background-color: #555555;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  color: whitesmoke;
  overflow: hidden;
}

.sendarea {
  height: 100%;
}

.tx-result {
  height: 100%;
}

textarea {
  width: 50%;
  height: 380px;
  background-color: #000044;
  color: whitesmoke;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.button{
  background-color: #676767;
  margin-bottom: 30px;
  margin-top: 20px;
}



