/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

* {
  margin: 0px;
  padding: 0px;
}

html{
  height:100%;
}

body {
  height: 100%;
  background-color: #000044;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  color: whitesmoke;
  overflow: hidden;
}

textarea {
  text-align: left;
  width: 90%;
  background-color: #000044;
  color: whitesmoke;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

#left{
  padding-left: 15px;
  padding-top: 8px;
}

h3 {
  margin-bottom: 5px;
}

.button{
  margin-bottom: 30px;
  margin-top: 20px;
}

.left-in{
  width: 110px;
  height: 35px;
  font-size: 16px;
  color: white;
  background-color: #555555;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}

li {
  margin-top: 8px;
}

ul {
  list-style: none;
}